parameters:
  basepath: ../../../
  modulebasepath: source/modules/
  composer_update: false

vendor:
  mein_vendor:
    namespace: foo
    homepage: https://www.foo.de
    email: info@foo.de
#  dein_vendor:
#    namespace: bar
#    homepage: https://www.bar.de
#    email: info@bar.de

authors:
  Christopher:
    name: Christopher Bauer
    email: chris@codecommerce.de
    homepage: https://www.codecommerce.de
#  dein_autor:
#    name: Max Mustermann
#    email: max@mustermann.de
#    homepage: https://www.codecommerce.de

filestructur:
  generate_directories: true
  directories:
    - "Core/Events"
    - "Controller/Admin"
    - "Model"
    - "out/src/css"
    - "out/src/img"
    - "out/src/js"
    - "setup"
    - "translations/de"
    - "views/admin/de"
    - "views/admin/tpl"
    - "views/blocks"
  generate_files: true
  files:
    - "setup/install.sql"

metadata:
  thumbnail: 'dies_ist_eine_url'
  modul_version: '1.0'
  metadata_version: '2.1'
